
<div id="login_form">
  <%= render 'shared/logo'%>
  <%= form_with url: login_path, method: :post, local: true, id: 'login_form_body' do |f| %>
    <% if flash.now[:alert] %>
      <div class="alert_container">
        <%= flash.now[:alert] %>
      </div>
    <% end %>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "Username", autofocus: true %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.submit "Login" %>
  <% end %>
</div>