<div class="main_container">
  <div class="friend_container">
    <%= render 'pages/friend_container', user: current_user %>
  </div>
  <div class="calendar_container">
    <%= month_calendar(events: @events) do |date, events| %>
      <%= date.day %>
      <% events.each do |event| %>
        <div class="event">
          <%= event.name %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="event_container">
    <%= render 'pages/event_container' %>
  </div>
</div>
